.lista-suspensa{
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid #4A4949;
    font-weight: 400px;    
    font-size: 16px;
    line-height: 120%;
    color: #ffffff;
    padding: 8px 16px;
    

}
.lista-suspensa::placeholder{
    color: #4A4949;
}